@import 'normalize.css';

* {
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.flexbox body{
  padding: 1em 2em;
}

/* Styles for center demo */
.flexbox-center h1{
  background: #7ED6AB;
  padding: 1em;
}

/* Styles for columns demo */
.flexbox-columns .column{
  padding: 1em;
  background: #B5F8D7;
}

.flexbox-columns .column:last-child{
  background: #7ED6AB;
}

/* Styles for pin demo */
.flexbox-pin .menu,
.flexbox-pin .message{
  border-radius: 4px;
} 

.flexbox-pin .menu{
  margin-bottom: 3rem;
  list-style: none;
  padding: 0.5em 1em;
}

.flexbox-pin .message{
  padding: 1em;
}

.flexbox-pin .menu li{
  padding: 0.5em 1em;
}

.flexbox-pin .menu a{
  color: #31518A;
}


/* Styles for directions demo */
.flexbox-directions .container div{
  background-color: rgba(147, 128, 108, 0.15);
  padding: 1.5rem;
}

.flexbox-directions .container div:nth-child(1){
  background-color: #D65B5A;
}

.flexbox-directions .container div:nth-child(3){
  background-color: #7FA39C;
}

.flexbox-directions .container div:nth-child(2){
  background-color: #F4B9B1;
}

.flexbox-directions .container span{
  font-size: 2em;
  font-weight: bold;
}

/* Styles for form */


.flexbox-form form {
  background: #D1E0D1;
  padding: 1em;
  border-radius: 3px;
}

.flexbox-form input[type="email"] {
  padding-left: 1em;
  height: 50px;
}
.flexbox-form input[type="submit"] {
  padding: 0 1em;
  background: #FF6B25;
  border: none;
}

/* Styles for pagination */
.flexbox-pagination .container{
  margin: 0 auto;
  background: #D65B5A;
  padding: 1em;
  border-radius: 3px;
} 

.flexbox-pagination a{
  color: white;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.59);
  border-radius: 3px;
}

.flexbox-pagination a:hover{
  background-color: rgba(255, 255, 255, 0.26);
}


/* Styles for store demo */
.flexbox-store h2{
  font-size: 1.2em;
  margin: 0 0 0.2em;
}

.flexbox-store .box{
  border: 1px solid #D1D1D1;
  padding: 1.5em;
  overflow: hidden;
}

.flexbox-store p{
  font-size: 0.9em;
}

.flexbox-store .buy{
  padding: 0.5em;
  width: 5em;
  text-align: center;
  border-radius: 3px;
  background: #f0c14b;
  color: #444;
  text-decoration: none;
}

.flexbox-store .buy:hover{
  background-color: #F0B00F;
  color: black;
} 

.flexbox-store .price{
  display: block;
  color: crimson;
}


/* Modernizr + feature detection warning message*/
html[class~=no-regions]::before{
  padding: 2em;
  display: block;
  content: "This browser does not support CSS Regions. See: http://html.adobe.com/webplatform/enable/";
  background: #ffc;
}

.reg body{
  padding: 1em 2em;
}

.reg article{
  font-size: 120%;
  font-family: Palatino, Georgia;
  line-height: 1.4em;
}

.reg article h1{
  line-height: 1em;
  margin-top: 0;
}

/* Regions news layout demo */
#regions-news .box{
  padding: 1.5em;
  background: #eee;
  border: 5px solid white;
}

#regions-cssom .box{
  padding: 1.5em;
  background: #eee;
  border: 5px solid white;
}

#regions-cssom body{
   padding: 0;
}

#regions-breaking .news{
  font-size: 1.5em;
}

/* Shapes styles */
.shapes article{
  font-size: 120%;
  font-family: Palatino, Georgia;
  line-height: 1.4em;
  margin: 2em auto;
  max-width: 40rem;
}

.shapes article h1{
  font-size: 3em;
  line-height: 1em;
}

#shapes-coffee .coffee-stain{
  text-align: center;
  color: #B94C0E;
  background: url(images/coffee-stain.jpg) center center;
  background-size: contain;
}

#shapes-coffee .coffee-cup{
  margin-left: -10em;
}

#shapes-polygon article{
  font-size: 15px;
}
